In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [9]:
for num in l:
    if num % 2 == 0:
        print num
    else:
        print 'Odd Number'

Odd Number
2
Odd Number
4
Odd Number

In [10]:
l

[1, 2, 3, 4, 5]

In [13]:
list_sum = 0

for num in l:
    list_sum += num
    
print list_sum

15

In [14]:
s = 'This is a string'

In [16]:
for letter in s:
    print letter

T
h
i
s

i
s

a

s
t
r
i
n
g

In [17]:
tup = (1,2,3,4,5)

In [18]:
for t in tup:
    print t

1
2
3
4
5

In [19]:
l = [(2,4),(6,8),(10,12)]

In [20]:
l

[(2, 4), (6, 8), (10, 12)]

In [21]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [22]:
for (t1, t2) in l:
    print t1

2
6
10

In [23]:
d = {
    'k1':1,
    'k2':2,
    'k3':3
}

In [24]:
for item in d:
    print item

k3
k2
k1

In [25]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1