In [1]:
'Hello'

'Hello'

In [2]:
'This is also a string'

'This is also a string'

In [3]:
"This is a string"

'This is a string'

In [4]:
"I'm a string"

"I'm a string"

In [5]:
' "this is a quote" '

' "this is a quote" '

In [6]:
'Hello world'

'Hello world'

In [8]:
print 'Hello world 1'
print 'Hello world 2'

Hello world 1
Hello world 2

In [9]:
print 'Here is a new line \n and here is the second line'

Here is a new line
 and here is the second line

In [10]:
print 'Adding a \t tab'

Adding a 	 tab

In [11]:
len('Hello World')

11

In [12]:
s = 'Hello World'

In [13]:
s

'Hello World'

In [15]:
s[1]

'e'

In [16]:
#grab everything from the first index and onwards
s[1:]

'ello World'

In [17]:
#everything UP to the third index
s[:3]

'Hel'

In [18]:
#grab everything
s[:]

'Hello World'

In [19]:
#the last number
s[-1]

'd'

In [20]:
#grab everything BUT the last index
s[:-1]

'Hello Worl'

In [22]:
#the number will be the steps of character grabbed
s[::2]

'HloWrd'

In [23]:
#to reverse the string
s[::-1]

'dlroW olleH'

In [24]:
'immutability'

'immutability'

In [26]:
#strings are immutable
#s[0] = 'x'

In [28]:
#you can add strings around the variable
s + ' concatanate me!'

'Hello World concatanate me!'

In [29]:
letter = 'z'

In [30]:
letter

'z'

In [31]:
#this repeats the string by a set amount of number
letter * 10

'zzzzzzzzzz'

In [32]:
s = 'Hello'

In [33]:
#transforms all text into UPPERCASE
s.upper()

'HELLO'

In [34]:
#transforms all text into lowercase
s.lower()

'hello'

In [37]:
#splits text at specified character (returns a list)
s.split('e')

['H', 'llo']